<div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="mb-0"><%= title %></h1>
            <a href="/obat/create" class="btn btn-primary">Tambah Obat</a>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
        
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>no</th>
                    <th>Nama Obat</th>
                    <th>kategori</th>
                    <th>supplier</th>
                    <th>stok</th>
                    <th>harga beli</th>
                    <th>harga jual</th>
                    <th>tanggal kadaluarsa</th>
                    <th>aksi</th>
                </tr>
            </thead>
            <tbody>
                <% obat.forEach(o => { %>
                 <tr>
                    <td class="text-center"><%= o.id %></td>
                    <td class="text-center"><%= o.nama_obat %></td>
                    <td class="text-center"><%= o.kategori.nama_kategori || '' %></td>
                    <td class="text-center"><%= o.supplier.nama_supplier || '' %></td>
                    <td class="text-center"><%= o.stok %></td>
                    <td class="text-center"><%= o.harga_beli %></td>
                    <td class="text-center"><%= o.harga_jual %></td>
                    <td class="text-center"><%= o.tanggal_kadaluarsa %></td>
                    <td class="text-center">
                        <a href="/obat/edit/<%= o.id %>" class="btn btn-primary">Edit</a>
                        <a href="/obat/delete/<%= o.id %>" class="btn btn-danger my-2" data-bs-toggle="modal" data-bs-target="#alertModal">Delete</a>
                    </td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
            </div>
        </div>
    </div>