<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="mb-0"><%= title %></h1>
            <a href="/user/create" class="btn btn-primary">Tambah User</a>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
        
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>no</th>
                    <th>username</th>
                    <th>nama</th>
                    <th>role</th>
                    <th>aksi</th>
                </tr>
            </thead>
            <tbody>
                <% user.forEach(u => { %>
                 <tr>
                    <td class="text-center"><%= u.id %></td>
                    <td class="text-center"><%= u.username %></td>
                    <td class="text-center"><%= u.nama_lengkap %></td>
                    <td class="text-center"><%= u.role %></td>
                    <td class="text-center">
                        <a href="/user/edit/<%= u.id %>" class="btn btn-primary">Edit</a>
                        <a href="/user/delete/<%= u.id %>" class="btn btn-danger my-2" data-bs-toggle="modal" data-bs-target="#alertModal">Delete</a>
                    </td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
            </div>
        </div>
    </div>



    <script src="js/bootsrap.bundle.min.js"></script>
</body>
</html>